@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafaf9;
    --foreground: #1c1917;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }

  ::selection {
    background-color: #f6b871;
    color: #1c1917;
  }
}

@layer components {
  .section-padding {
    @apply px-4 sm:px-6 lg:px-8 py-16 sm:py-20 lg:py-24;
  }

  .container-max {
    @apply max-w-7xl mx-auto;
  }
}
